<a href="https://colab.research.google.com/github/Bast-aleja/Aplicacionesanalitica/blob/main/Hospitalizaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##importar paquetes
import pandas as pd
import numpy as np
import random

In [2]:
#importar datos 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# cargar bases
cronicos= pd.read_csv('/content/drive/MyDrive/ANALITICA3/RETO_df_cronicos.csv', sep=",")
egresos= pd.read_csv('/content/drive/MyDrive/ANALITICA3/RETO_df_egresos.csv', sep=",")
usuarios= pd.read_csv('/content/drive/MyDrive/ANALITICA3/RETO_df_usuarios.csv', sep=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (34,36,39,40,50,52,55,56,58,62,64,65,66,75,107,108,111,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,6,7,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
cronicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38736 entries, 0 to 38735
Columns: 290 entries, YEAR to NombreDiagnostico83
dtypes: float64(39), int64(10), object(241)
memory usage: 85.7+ MB

In [ ]:
egresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6376 entries, 0 to 6375
Data columns (total 66 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   YEAR                               6376 non-null   int64
 1   MES                                6376 non-null   object
 2   NRO ATENCION                       6376 non-null   int64
 3   NRO INGRESO                        6376 non-null   int64
 4   SERVICIO HABILITADO COD            6376 non-null   float64
 5   SERVICIO HABILITADO                6376 non-null   object
 6   TIPO IDENTIFICACION                6376 non-null   object
 7   NRODOC                             6376 non-null   int64
 8   FECHA NACIMIENTO                   6376 non-null   object
 9   REGIMEN AFILIACION                 6376 non-null   object
 10  EPS VALIDADA                       4103 non-null   object
 11  MODALIDAD CONTRATO                 6376 non-null   object
 12  FUENTE FINANCIACION1               6376 non-null   object
 13  FUENTE FINANCIACION2               6376 non-null   object
 14  SERVICIO ADMITE                    6376 non-null   object
 15  BLOQUE ANTERIOR                    6376 non-null   object
 16  PISO ANTERIOR                      6376 non-null   object
 17  SERVICIO ANTERIOR                  6376 non-null   object
 18  NRO CAMA ANTERIOR                  6376 non-null   object
 19  VIA INGRESO                        6376 non-null   object
 20  BLOQUE                             6376 non-null   object
 21  UNIDAD ESTRATEGICA                 6376 non-null   object
 22  PISO                               6376 non-null   object
 23  NRO CAMA                           6376 non-null   object
 24  SERVICIO EGRESO                    6376 non-null   object
 25  TIPO EGRESO                        6376 non-null   object
 26  FECHA INGRESO CLINICA              4105 non-null   object
 27  FECHA INGRESO SERVICIO             4104 non-null   object
 28  FECHA POSIBLE ALTA                 153 non-null    object
 29  FECHA ALTA MEDICA                  6376 non-null   object
 30  FECHA RECAUDO                      1599 non-null   object
 31  FECHA CAMILLERO                    1836 non-null   object
 32  FECHA ENFERMERIA                   1453 non-null   object
 33  FECHA FACTURACION AUDIFARMA        2080 non-null   object
 34  FECHA FARMACIA                     2061 non-null   object
 35  FECHA SALIDA                       6376 non-null   object
 36  FECHA ASEO                         1981 non-null   object
 37  DEMORA ASIGNACION CAMA             6376 non-null   object
 38  DEMORA APLICACION MEDICAMENTO      6376 non-null   object
 39  DEMORA SALIDA CLINICA (DIAS)       6376 non-null   float64
 40  TRANSFUSION SANGRE                 6376 non-null   object
 41  ANTIBIOTICO                        6376 non-null   object
 42  ALTA MEDICA                        6376 non-null   object
 43  POSIBLE ALTA                       6376 non-null   object
 44  DXPRINCIPAL EGRESO COD             6376 non-null   object
 45  DXPRINCIPAL EGRESO                 6376 non-null   object
 46  DX RELACIONADO1 COD                6357 non-null   object
 47  DX RELACIONADO1                    6376 non-null   object
 48  DX RELACIONADO2 COD                6309 non-null   object
 49  DX RELACIONADO2                    6376 non-null   object
 50  DX RELACIONADO3 COD                6195 non-null   object
 51  DX RELACIONADO3                    6376 non-null   object
 52  TIPO DIAGNOSTICO PRINCIPAL         6376 non-null   object
 53  PERTINENCIA DIAGNOSTICA            1184 non-null   object
 54  DX PRINCIPAL EGRESO CATEGORIA COD  6304 non-null   object
 55  DX PRINCIPAL EGRESO CATEGORIA      6376 non-null   object
 56  DX PRINCIPAL EGRESO CAPITULO COD   6304 non-null   object
 57  DX PRINCIPAL EGRESO CAPITULO       6376 non-null   object
 58  CAUSA BASICA MUERTE COD            566 non-null    object
 59  CAUSA BASICA MUERTE                6376 non-null   object
 60  CAUSA BASICA CATEGORIA COD         564 non-null    object
 61  CAUSA BASICA CATEGORIA             6376 non-null   object
 62  CAUSA BASICA CAPITULO COD          564 non-null    object
 63  CAUSA BASICA CAPITULO              6376 non-null   object
 64  PROFESIONAL ESPECIALIDAD           6376 non-null   object
 65  PROFESIONAL ESPECIALIDAD GRD       6376 non-null   object
dtypes: float64(2), int64(4), object(60)
memory usage: 3.2+ MB

In [ ]:
usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183911 entries, 0 to 183910
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   MES                            183911 non-null  object
 1   YEAR                           183911 non-null  int64
 2   NRODOC                         183911 non-null  int64
 3   SEXO                           183901 non-null  object
 4   FECHA NACIMIENTO               111831 non-null  object
 5   EDAD                           149755 non-null  float64
 6   DEPARTAMENTO                   82284 non-null   object
 7   MUNICIPIO                      81397 non-null   object
 8   BARRIO                         115344 non-null  object
 9   FECHA INICIO AL PGP            125658 non-null  object
 10  FECHA PRIMERA CLASE FUNCIONAL  87961 non-null   object
 11  PRIMERA CLASE FUNCIONAL        89641 non-null   object
 12  FECHA ÚLTIMA CLASE FUNCIONAL   87985 non-null   object
 13  ÚLTIMA CLASE FUNCIONAL         128109 non-null  object
 14  CICLO_VITAL                    149755 non-null  object
 15  QUINQUENIO                     149755 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 22.5+ MB

In [ ]:
#se separan las bases de datos según los años antes y despues de la pandemia
cronicospos = cronicos[(cronicos['YEAR']> 2018)]
cronicospre = cronicos[(cronicos['YEAR']<= 2018)]
egresospos=egresos[(egresos['YEAR']> 2018)]
egresospre=egresos[(egresos['YEAR']<= 2018)]
usuariospos=usuarios[(usuarios['YEAR']> 2018)]
usuariospre=usuarios[(usuarios['YEAR']<= 2018)]

**TRATAMIENTO DE BASES DESPUÉS DE PANDEMIA**

BASE CRONICOSPOS

In [ ]:
cronicospos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25909 entries, 12827 to 38735
Columns: 290 entries, YEAR to NombreDiagnostico83
dtypes: float64(39), int64(10), object(241)
memory usage: 57.5+ MB

In [ ]:
cronicospos.columns

Index(['YEAR', 'MES', 'Fecha diligenciamiento', 'Hora', 'Atención', 'Ingreso',
       'Tipo', 'NRODOC', 'Peso', 'Talla',
       ...
       'Diagnostico79', 'NombreDiagnostico79', 'Diagnostico80',
       'NombreDiagnostico80', 'Diagnostico81', 'NombreDiagnostico81',
       'Diagnostico82', 'NombreDiagnostico82', 'Diagnostico83',
       'NombreDiagnostico83'],
      dtype='object', length=290)

In [ ]:
#Se pasan todas las columnas a minusculas para ser tratadas más facil
cronicospos.columns = cronicospos.columns.str.lower()

In [ ]:
#Porcentaje de representación de datos nulos en la base cronicospos
print(round(cronicospos.isnull().sum().sum()/cronicospos.size, 2)*100, "%")

68.0 %

In [ ]:
#Se evalua el porcentaje de nulos por columna
((cronicospos.isnull().sum() / len(cronicospos))*100).sort_values(ascending = False)

otras morbilidades                        100.0
espirometria                              100.0
gravedad                                  100.0
diagnóstico epoc                          100.0
clasificación                             100.0
                                          ...
tiempo en segundos (recorrer 5 metros)      0.0
velocidad (m/s)                             0.0
calificación velocidad                      0.0
ambito según el médico                      0.0
year                                        0.0
Length: 290, dtype: float64

In [ ]:
#Se eliminan aquellas columnas en las que el porcentaje de nulos sea mayor al 60%
lista=cronicospos.columns

In [ ]:
for i in lista:
  if (cronicospos[i].isnull().sum() / len(cronicospos))*100> 60 :
    cronicospos=cronicospos.drop([i], axis=1)

In [ ]:
#La base queda con 97 columnas de 290
cronicospos.info()

In [ ]:
#Variables sin nulos
lista=cronicospos.columns
cont=0
for i in lista:
  if cronicospos[i].isnull().sum()<=0:
    print(i)
    ("--------------------------------------")

year
mes
fecha diligenciamiento
hora
atención
ingreso
tipo
nrodoc
peso
talla
imc
clasificación imc
perímetro muslo
perímetro cintura
pliegue triceps
pliegue abdomen
pliegue muslo
sumatoria pliegues
presión arterial sistólica
presión arterial diastólica
frecuencia cardíaca en reposo
auto-calificacion nivel de ejercicio
constantes
mets -índice metabólico
vo2 - máxima cantidad de oxígeno
calificación (índice de fragilidad)
tiempo en segundos (apoyo monopodal)
calificación (apoyo monopodal)
tiempo en segundos (recorrer 5 metros)
velocidad (m/s)
calificación velocidad
ambito según el médico

In [ ]:
#Se eliminan aquellas que no aportan al modelo o que otra columna contenga el mismo dato pero en un tipo diferente
lista= (['fecha diligenciamiento', 'hora', 'atención', 'ingreso', 'tipo', 'imc', 'perímetro muslo', 'perímetro cintura',
       'pliegue triceps', 'pliegue abdomen', 'pliegue muslo', 'constantes', 'tiempo en segundos (apoyo monopodal)', 'tiempo en segundos (recorrer 5 metros)', 'velocidad (m/s)' ])

In [ ]:
for i in lista:
  cronicospos=cronicospos.drop([i], axis=1)

In [ ]:
#Variables con nulos
lista=cronicospos.columns
cont=0
for i in lista:
  if cronicospos[i].isnull().sum()>0:
    print(i)
    cont=cont+1
    ("--------------------------------------")
print(cont)

saturación de oxígeno (%)
índice de fragilidad groningen
test findrisc
índice tobillo/brazo
observaciones
presión arterial registro medico
diabetes mellitus
tipo diabetes mellitus
tiempo con el diagnóstico
glicemia
fecha glicemia
hemoglobina glicada
fecha hemoglobina glicosilada
control diabetes
tiene hta
control hta
tiene riesgo de tener hta
tiempo con el diagnóstico1
tiene epoc
enfermedad coronaria (en el último año)
insuficiencia cardíaca
valvulopatía
arritmia o paciente con dispositivo
sufre de alguna enfermedad cardiovascular
¿cuál?
tabaquismo
cuantos cigarrillos día
años de consumo
lipoproteina
fecha ldl
hdl
fecha hdl
colesterol total
fecha colesterol total
trigliceridos
fecha trigliceridos
clasificación de framinghan
creatinina 1 consulta
fecha creatinina1
tasa de filtración glomerular tfg
estadio de la enfermedad renal
microalbuminuria
fecha microalbuminuria
hormona estimulante de la tiroides (tsh)
clase funcional
creatinina 2 consulta
fecha creatinina2
tasa de filtración glomerular tfg2
meses de diferencia entre tfg
cambio de tfg
basciloscopia
úlcera de pie diabético
remisión
diagnóstico principal
análisis y conducta a seguir
tiene próximo control
fecha próximo control
tipo control
requiere cita de morbilidad
diagnostico1
nombrediagnostico1
diagnostico2
nombrediagnostico2
diagnostico3
nombrediagnostico3
65

In [ ]:
# Se dividen estas variables con nulos en 3 grupos, las que no aportan al modelo, las que su cantidad de nulos es dificil de reemplazar, aquellas que pueden hacer parte del modelo
# Se evalua cada columna
cronicospos.columns

Index(['year', 'mes', 'nrodoc', 'peso', 'talla', 'clasificación imc',
       'saturación de oxígeno (%)', 'sumatoria pliegues',
       'presión arterial sistólica', 'presión arterial diastólica',
       'frecuencia cardíaca en reposo', 'auto-calificacion nivel de ejercicio',
       'mets -índice metabólico', 'vo2 - máxima cantidad de oxígeno',
       'índice de fragilidad groningen', 'calificación (índice de fragilidad)',
       'calificación (apoyo monopodal)', 'calificación velocidad',
       'test findrisc', 'índice tobillo/brazo', 'observaciones',
       'presión arterial registro medico', 'diabetes mellitus',
       'tipo diabetes mellitus', 'tiempo con el diagnóstico', 'glicemia',
       'fecha glicemia', 'hemoglobina glicada',
       'fecha hemoglobina glicosilada', 'control diabetes', 'tiene hta',
       'control hta', 'tiene riesgo de tener hta',
       'tiempo con el diagnóstico1', 'tiene epoc',
       'enfermedad coronaria (en el último año)', 'insuficiencia cardíaca',
       'valvulopatía', 'arritmia o paciente con dispositivo',
       'sufre de alguna enfermedad cardiovascular', '¿cuál?', 'tabaquismo',
       'cuantos cigarrillos día', 'años de consumo', 'lipoproteina',
       'fecha ldl', 'hdl', 'fecha hdl', 'colesterol total',
       'fecha colesterol total', 'trigliceridos', 'fecha trigliceridos',
       'clasificación de framinghan', 'creatinina 1 consulta',
       'fecha creatinina1', 'tasa de filtración glomerular tfg',
       'estadio de la enfermedad renal', 'microalbuminuria',
       'fecha microalbuminuria', 'hormona estimulante de la tiroides (tsh)',
       'clase funcional', 'creatinina 2 consulta', 'fecha creatinina2',
       'tasa de filtración glomerular tfg2', 'meses de diferencia entre tfg',
       'cambio de tfg', 'basciloscopia', 'úlcera de pie diabético', 'remisión',
       'diagnóstico principal', 'análisis y conducta a seguir',
       'tiene próximo control', 'fecha próximo control', 'tipo control',
       'requiere cita de morbilidad', 'ambito según el médico', 'diagnostico1',
       'nombrediagnostico1', 'diagnostico2', 'nombrediagnostico2',
       'diagnostico3', 'nombrediagnostico3'],
      dtype='object')

In [ ]:
#revisiòn de variables
cronicospos['tiene próximo control'].unique()

array(['Si', nan, 'No'], dtype=object)

In [ ]:
#se borran las columnas que no tengan valor agregado o que otra columna contenga el mismo dato pero en un tipo diferente
listacr= ([ 'índice de fragilidad groningen', 'fecha glicemia', 'tiempo con el diagnóstico1', 'fecha hemoglobina glicosilada', 'tipo control',
       'cuantos cigarrillos día', 'estadio de la enfermedad renal', 'creatinina 2 consulta', 'tiene riesgo de tener hta', 
       'tasa de filtración glomerular tfg', 'meses de diferencia entre tfg', 'cambio de tfg', 'análisis y conducta a seguir'])

In [ ]:
for i in listacr:
  cronicospos=cronicospos.drop([i], axis=1)

In [ ]:
#se borran las columnas que es dificil de reemplazar sus nulos por la cantidad o el tipo de dato que tienen
lista2=cronicospos.columns

In [ ]:
#se revisa cada variable
for i in lista2:
  print(i)
  print(cronicospos[i].isnull().sum())
  print('------------------------------------------------')

year
0
------------------------------------------------
mes
0
------------------------------------------------
nrodoc
0
------------------------------------------------
peso
0
------------------------------------------------
talla
0
------------------------------------------------
clasificación imc
0
------------------------------------------------
saturación de oxígeno (%)
117
------------------------------------------------
sumatoria pliegues
0
------------------------------------------------
presión arterial sistólica
0
------------------------------------------------
presión arterial diastólica
0
------------------------------------------------
frecuencia cardíaca en reposo
0
------------------------------------------------
auto-calificacion nivel de ejercicio
0
------------------------------------------------
mets -índice metabólico
0
------------------------------------------------
vo2 - máxima cantidad de oxígeno
0
------------------------------------------------
calificación (índice de fragilidad)
0
------------------------------------------------
calificación (apoyo monopodal)
0
------------------------------------------------
calificación velocidad
0
------------------------------------------------
test findrisc
12677
------------------------------------------------
índice tobillo/brazo
6316
------------------------------------------------
observaciones
15108
------------------------------------------------
presión arterial registro medico
10004
------------------------------------------------
diabetes mellitus
504
------------------------------------------------
tipo diabetes mellitus
13647
------------------------------------------------
tiempo con el diagnóstico
14627
------------------------------------------------
glicemia
504
------------------------------------------------
hemoglobina glicada
504
------------------------------------------------
control diabetes
504
------------------------------------------------
tiene hta
504
------------------------------------------------
control hta
504
------------------------------------------------
tiene epoc
504
------------------------------------------------
enfermedad coronaria (en el último año)
504
------------------------------------------------
insuficiencia cardíaca
504
------------------------------------------------
valvulopatía
504
------------------------------------------------
arritmia o paciente con dispositivo
504
------------------------------------------------
sufre de alguna enfermedad cardiovascular
504
------------------------------------------------
¿cuál?
14681
------------------------------------------------
tabaquismo
504
------------------------------------------------
años de consumo
57
------------------------------------------------
lipoproteina
504
------------------------------------------------
fecha ldl
11892
------------------------------------------------
hdl
504
------------------------------------------------
fecha hdl
1980
------------------------------------------------
colesterol total
504
------------------------------------------------
fecha colesterol total
2005
------------------------------------------------
trigliceridos
504
------------------------------------------------
fecha trigliceridos
2054
------------------------------------------------
clasificación de framinghan
504
------------------------------------------------
creatinina 1 consulta
504
------------------------------------------------
fecha creatinina1
1521
------------------------------------------------
microalbuminuria
504
------------------------------------------------
fecha microalbuminuria
4572
------------------------------------------------
hormona estimulante de la tiroides (tsh)
504
------------------------------------------------
clase funcional
504
------------------------------------------------
fecha creatinina2
9729
------------------------------------------------
tasa de filtración glomerular tfg2
504
------------------------------------------------
basciloscopia
7321
------------------------------------------------
úlcera de pie diabético
2966
------------------------------------------------
remisión
504
------------------------------------------------
diagnóstico principal
505
------------------------------------------------
tiene próximo control
505
------------------------------------------------
fecha próximo control
1322
------------------------------------------------
requiere cita de morbilidad
505
------------------------------------------------
ambito según el médico
0
------------------------------------------------
diagnostico1
7385
------------------------------------------------
nombrediagnostico1
7385
------------------------------------------------
diagnostico2
11404
------------------------------------------------
nombrediagnostico2
11404
------------------------------------------------
diagnostico3
14068
------------------------------------------------
nombrediagnostico3
14068
------------------------------------------------

In [ ]:
#revisión
cronicospos['diagnostico1'].unique()

array([nan, 'N390', 'I671', 'I10X', 'R522', 'Z933', 'I255', 'E106',
       'G20X', 'N189', 'M170', 'F319', 'R520', 'I698', 'E039', 'M800',
       'J449', 'L892', 'I500', 'E119', 'K590', 'N319', 'K295', 'M809',
       'E059', 'K291', 'K703', 'Z921', 'N183', 'I872', 'G825', 'N182',
       'G809', 'M819', 'R32X', 'N40X', 'M060', 'J440', 'M150', 'U072',
       'M500', 'J441', 'I509', 'I694', 'R53X', 'R104', 'F412', 'G408',
       'G309', 'F510', 'N185', 'J459', 'G409', 'I499', 'T652', 'R568',
       'M810', 'N422', 'E784', 'I519', 'I845', 'F700', 'G470', 'I489',
       'N184', 'E785', 'H103', 'R51X', 'F314', 'G632', 'Y841', 'F317',
       'I771', 'F018', 'I250', 'F21X', 'F418', 'K746', 'M159', 'A630',
       'M45X', 'F413', 'K296', 'H902', 'I490', 'Z111', 'G459', 'I482',
       'Z822', 'N418', 'M545', 'Z123', 'E782', 'Z720', 'M179', 'R54X',
       'E108', 'F311', 'M751', 'I828', 'Z950', 'R521', 'J304', 'G700',
       'F411', 'H259', 'F721', 'M792', 'I219', 'I209', 'N484', 'Z954',
       'I679', 'C509', 'N939', 'S065', 'I714', 'I739', 'L88X', 'R001',
       'K297', 'G629', 'F03X', 'S008', 'F023', 'E669', 'N180', 'L023',
       'E660', 'R15X', 'Q603', 'L299', 'Z940', 'I829', 'Q850', 'G433',
       'H408', 'G911', 'L301', 'N181', 'E109', 'F191', 'M353', 'M328',
       'L298', 'S241', 'M350', 'I110', 'G474', 'G402', 'I702', 'K573',
       'K264', 'G473', 'N393', 'Z966', 'R55X', 'G250', 'K579', 'M321',
       'K429', 'Z124', 'M808', 'M658', 'I890', 'M629', 'M059', 'R13X',
       'E559', 'F701', 'L570', 'N429', 'R42X', 'I778', 'R268', 'M869',
       'M158', 'C819', 'I471', 'F322', 'F009', 'I64X', 'G308', 'M214',
       'K294', 'H409', 'Z982', 'I258', 'H919', 'R619', 'N870', 'I269',
       'M348', 'Z968', 'Z974', 'N142', 'L80X', 'F323', 'R490', 'N428',
       'I259', 'D688', 'J041', 'L239', 'L891', 'M069', 'I678', 'I481',
       'S202', 'G718', 'M866', 'I709', 'M940', 'S881', 'M542', 'J448',
       'Z630', 'I420', 'R160', 'G821', 'D329', 'K589', 'M791', 'E118',
       'J410', 'Q211', 'Z600', 'Z033', 'G479', 'H931', 'L405', 'M183',
       'N209', 'Q909', 'S626', 'Q253', 'M201', 'N841', 'M329', 'Z944',
       'M818', 'R066', 'N19X', 'Z300', 'R011', 'N310', 'M153', 'L22X',
       'L039', 'R101', 'Z601', 'J22X', 'Z952', 'L711', 'G819', 'G439',
       'K219', 'K838', 'Z978', 'I516', 'M543', 'I251', 'R730', 'R251',
       'M255', 'I270', 'K519', 'R030', 'N318', 'N819', 'N200', 'Z810',
       'R411', 'I351', 'K904', 'S422', 'F419', 'R418', 'L930', 'K210',
       'K710', 'M181', 'T784', 'N328', 'K252', 'E780', 'M180', 'M859',
       'L719', 'Q612', 'K591', 'M130', 'M238', 'I716', 'I498', 'J848',
       'G560', 'M541', 'M479', 'M770', 'E107', 'M154', 'I652', 'N394',
       'R478', 'M796', 'I442', 'U071', 'Z008', 'M894', 'I719', 'R620',
       'Y919', 'R634', 'E116', 'Z659', 'L031', 'Z711', 'I120', 'F209',
       'R074', 'J450', 'N358', 'M189', 'E789', 'R222', 'I728', 'S460',
       'F711', 'M200', 'M738', 'M340', 'N941', 'K403', 'I48X', 'L400',
       'K861', 'J028', 'M169', 'M068', 'J40X', 'T905', 'N359', 'N760',
       'I151', 'Q401', 'H813', 'F328', 'M161', 'I480', 'M761', 'H352',
       'I080', 'L240', 'H360', 'J310', 'L649', 'M549', 'R34X', 'N814',
       'F791', 'F321', 'M058', 'R190', 'M799', 'N411', 'M511', 'R739',
       'K501', 'E117', 'J330', 'F318', 'G579', 'S720', 'L408', 'I743',
       'Y835', 'Z958', 'N312', 'F069', 'R071', 'K432', 'M331', 'L430',
       'M174', 'D649', 'L409', 'N818', 'F001', 'K700', 'I730', 'M501',
       'H900', 'R64X', 'I361', 'I715', 'E038', 'E748', 'Q627', 'Z433',
       'M906', '104', '81', 'Y471', 'I252', '94', 'S328', '92', '130',
       '97', '89', '100', '93', '80', '90', '91', 'G710', '87', '102',
       '101', '115', '98', '105', '88', '106', 90.0, 88.0, 106.0, 115.0,
       107.0, 87.0, 101.0, 85.0, 89.0, 104.0, 105.0, 114.0, 128.0, 119.0,
       91.0, 103.0, 92.0, 102.0, 110.0, 83.0, 100.0, 82.0, 109.0, 81.0,
       99.0, 108.0, 98.0, 97.0, 117.0, 95.0, 94.0, 93.0, 84.0, 125.0,
       96.0, 124.0, 123.0, 86.0, 134.0, 116.0, 122.0, 113.0, 121.0, 120.0,
       112.0, 137.0, 130.0, 80.0, 173.0, 136.0, 133.0, 132.0, 0.0, 129.0,
       127.0, 131.0, 158.0, 126.0, 118.0, 135.0, 145.0, 150.0, 152.0,
       144.0, 138.0, 143.0, 181.0, 177.0, 148.0, 147.0, 140.0, 111.0,
       156.0, 155.0, 162.0, 141.0, 159.0, 157.0, 154.0, 164.0, 153.0,
       151.0, 149.0, 142.0, 175.0, 163.0, 161.0, 146.0, 139.0, 176.0,
       185.0, 183.0], dtype=object)

In [ ]:
listaf= (['test findrisc','índice tobillo/brazo', 'observaciones', 'presión arterial registro medico', 'tipo diabetes mellitus','tiempo con el diagnóstico',
'¿cuál?', 'fecha ldl', 'fecha colesterol total', 'fecha trigliceridos', 'fecha creatinina1', 'fecha microalbuminuria',
'fecha creatinina2', 'basciloscopia', 'úlcera de pie diabético', 'fecha próximo control', 'diagnostico1', 'nombrediagnostico1', 'diagnostico2',
 'nombrediagnostico2', 'diagnostico3', 'nombrediagnostico3', 'fecha hdl'])

In [ ]:
for i in listaf:
  cronicospos=cronicospos.drop([i], axis=1)

Al hacer la revisión de cada columna se nota que la mayoria tienen 504 nulos, por lo que se obtara por borrar esas filas y no las columnas debido a que estas no estan aportando al modelo pues todas sus columnas tienen Nulos

In [ ]:
#Se reemplazan los nulos y luego se borran las columnas 
cronicospos['tiene próximo control']=cronicospos['tiene próximo control'].fillna(0)

In [ ]:
cronicospos = cronicospos.drop(cronicospos[cronicospos['tiene próximo control']==0].index)
cronicospos.isnull().sum()

year                                           0
mes                                            0
nrodoc                                         0
peso                                           0
talla                                          0
clasificación imc                              0
saturación de oxígeno (%)                    113
sumatoria pliegues                             0
presión arterial sistólica                     0
presión arterial diastólica                    0
frecuencia cardíaca en reposo                  0
auto-calificacion nivel de ejercicio           0
mets -índice metabólico                        0
vo2 - máxima cantidad de oxígeno               0
calificación (índice de fragilidad)            0
calificación (apoyo monopodal)                 0
calificación velocidad                         0
diabetes mellitus                              0
glicemia                                       0
hemoglobina glicada                            0
control diabetes                               0
tiene hta                                      0
control hta                                    0
tiene epoc                                     0
enfermedad coronaria (en el último año)        0
insuficiencia cardíaca                         0
valvulopatía                                   0
arritmia o paciente con dispositivo            0
sufre de alguna enfermedad cardiovascular      0
tabaquismo                                     0
años de consumo                                0
lipoproteina                                   0
hdl                                            0
colesterol total                               0
trigliceridos                                  0
clasificación de framinghan                    0
creatinina 1 consulta                          0
microalbuminuria                               0
hormona estimulante de la tiroides (tsh)       0
clase funcional                                0
tasa de filtración glomerular tfg2             0
remisión                                       0
diagnóstico principal                          0
tiene próximo control                          0
requiere cita de morbilidad                    0
ambito según el médico                         0
dtype: int64

In [ ]:
#debido al tipo de dato que representa la saturación de oxigeno de la persona, se decide eliminar esta columna pues sus nulos no pueden ser reemplazados
cronicospos=cronicospos.drop(['saturación de oxígeno (%)'], axis=1)

In [ ]:
#Se miran si existen varios diagnosticos para una persona
df=pd.DataFrame()
df['numero_de_diagnosticos']= cronicospos['nrodoc'].value_counts()
df['nrodoc']= cronicospos['nrodoc'].value_counts().index
df=df.reset_index().drop('index', axis=1)
df

      numero_de_diagnosticos  nrodoc
0                         17  312214
1                         16  311465
2                         15  308752
3                         15  308578
4                         15  313574
...                      ...     ...
5014                       1  313530
5015                       1  313637
5016                       1  312525
5017                       1  308288
5018                       1  314135

[5019 rows x 2 columns]

In [ ]:
#Se eliminan los diagnosticos más antiguos y se deja el más reciente unicamente
def funcion_1(base):
  dft = base.copy(deep=True)
  lista= list(df['nrodoc'])
  len(lista)
  dft2=pd.DataFrame()
  for i in lista:
    dft3=dft[dft['nrodoc']==i].reset_index()
    if dft3.shape[0] > 1 :
      for j in range(0, dft3.shape[0] -1):
        dft3.drop(j, axis=0, inplace= True)
      dft2= dft2.append(dft3, ignore_index=True)
    else:
      dft2=dft2.append(dft3, ignore_index=True)
  return dft2

In [ ]:
cronicosposf= funcion_1(cronicospos)

In [ ]:
#Se rectifica que haya quedado una columna por id
df=pd.DataFrame()
df['numero_de_diagnosticos']= cronicosposf['nrodoc'].value_counts()
df['nrodoc']= cronicosposf['nrodoc'].value_counts().index
df=df.reset_index().drop('index', axis=1)
df

      numero_de_diagnosticos  nrodoc
0                          1  312214
1                          1  313888
2                          1  313732
3                          1  310810
4                          1  311170
...                      ...     ...
5014                       1  307159
5015                       1  312147
5016                       1  310672
5017                       1  308168
5018                       1  314135

[5019 rows x 2 columns]

In [ ]:
cronicosposf.head(2)

,index,year,mes,nrodoc,peso,talla,clasificación imc,sumatoria pliegues,presión arterial sistólica,presión arterial diastólica,...,creatinina 1 consulta,microalbuminuria,hormona estimulante de la tiroides (tsh),clase funcional,tasa de filtración glomerular tfg2,remisión,diagnóstico principal,tiene próximo control,requiere cita de morbilidad,ambito según el médico
0,37327,2022,MAYO,312214,39.0,155.0,Bajo,15.0,80,60,...,0.57,0.43,1.84,Clase funcional 3,118.24,Grupal 4,R104 - OTROS DOLORES ABDOMINALES Y LOS NO ESPE...,Si,No,Domiciliario
1,36974,2022,MAYO,311465,54.0,155.0,Normal,32.0,95,55,...,0.79,0.00,2.41,Clase funcional 4,0.00,Grupal 4,F009 - DEMENCIA EN LA ENFERMEDAD DE ALZHEIMER ...,Si,No,Domiciliario

In [ ]:
#se elimina columna adicional
cronicosposf=cronicosposf.drop(['index'], axis=1)

In [ ]:
#Se pone los datos en un mejor tipo
cronicosposf.convert_dtypes().dtypes

year                                           Int64
mes                                           string
nrodoc                                         Int64
peso                                         Float64
talla                                          Int64
clasificación imc                             string
sumatoria pliegues                           Float64
presión arterial sistólica                     Int64
presión arterial diastólica                    Int64
frecuencia cardíaca en reposo                  Int64
auto-calificacion nivel de ejercicio           Int64
mets -índice metabólico                      Float64
vo2 - máxima cantidad de oxígeno             Float64
calificación (índice de fragilidad)           string
calificación (apoyo monopodal)                string
calificación velocidad                        string
diabetes mellitus                             string
glicemia                                       Int64
hemoglobina glicada                          Float64
control diabetes                              string
tiene hta                                     string
control hta                                   string
tiene epoc                                    string
enfermedad coronaria (en el último año)       string
insuficiencia cardíaca                        string
valvulopatía                                  string
arritmia o paciente con dispositivo           string
sufre de alguna enfermedad cardiovascular     string
tabaquismo                                    string
años de consumo                                Int64
lipoproteina                                 Float64
hdl                                          Float64
colesterol total                             Float64
trigliceridos                                Float64
clasificación de framinghan                   string
creatinina 1 consulta                        Float64
microalbuminuria                             Float64
hormona estimulante de la tiroides (tsh)     Float64
clase funcional                               string
tasa de filtración glomerular tfg2           Float64
remisión                                      string
diagnóstico principal                         string
tiene próximo control                         string
requiere cita de morbilidad                   string
ambito según el médico                        string
dtype: object

In [ ]:
#Se eliminan las columnas que tengan muchos datos string unicos debido a que son dificiles de tratar para modelos de regresión
lista=cronicosposf.columns

In [ ]:
for i in lista:
  print(i)
  print(cronicosposf[i].unique())
  ('----------------------------------------')

EGRESOSPOS

In [ ]:
egresospos.columns

In [ ]:
egresospos.info()

In [ ]:
#Porcentaje de representación de datos nulos en la base cronicospos
print(round(egresospos.isnull().sum().sum()/egresospos.size, 2)*100, "%")

7.000000000000001 %

In [ ]:
#Se evalua el porcentaje de nulos por columna
((egresospos.isnull().sum() / len(egresospos))*100).sort_values(ascending = False)

In [ ]:
#se eliminan aquellas columnas que tengan más de 60% de sus datos nulos
lista=egresospos.columns

In [ ]:
for i in lista:
  if (egresospos[i].isnull().sum() / len(egresospos))*100> 60 :
    egresospos=egresospos.drop([i], axis=1)

In [ ]:
#Variables con nulos
lista=egresospos.columns
cont=0
for i in lista:
  if egresospos[i].isnull().sum()>0:
    print(i)
    ("--------------------------------------")

In [ ]:
#validación de valor agregado de los datos
egresospos['CAUSA BASICA MUERTE'].unique()

In [ ]:
lista = (['FECHA RECAUDO', 'FECHA CAMILLERO', 'FECHA ENFERMERIA', 'FECHA FACTURACION AUDIFARMA', 'FECHA FARMACIA', 'FECHA ASEO',
'DX RELACIONADO1 COD', 'DX RELACIONADO2 COD', 'DX RELACIONADO3 COD', 'DX PRINCIPAL EGRESO CATEGORIA COD', 'DX PRINCIPAL EGRESO CAPITULO COD'])

In [ ]:
for i in lista:

  egresospos=egresospos.drop([i], axis=1)

In [ ]:
egresospos.isnull().sum()

In [ ]:
#Se eliminan aquellos que no agregan valor
lista =(['NRO ATENCION', 'NRO INGRESO', 'SERVICIO HABILITADO COD',
       'SERVICIO HABILITADO', 'TIPO IDENTIFICACION','FECHA NACIMIENTO','REGIMEN AFILIACION', 'MODALIDAD CONTRATO', 'FUENTE FINANCIACION1', 'FUENTE FINANCIACION2',
       'SERVICIO ANTERIOR', 'NRO CAMA ANTERIOR', 'VIA INGRESO', 'BLOQUE','UNIDAD ESTRATEGICA', 'PISO', 'NRO CAMA', 'SERVICIO EGRESO', 'FECHA INGRESO SERVICIO',
       'FECHA ALTA MEDICA',  'FECHA SALIDA','DEMORA ASIGNACION CAMA', 'DEMORA APLICACION MEDICAMENTO', 'TRANSFUSION SANGRE', 'ANTIBIOTICO','ALTA MEDICA', 'POSIBLE ALTA', 'DXPRINCIPAL EGRESO COD',
       'DXPRINCIPAL EGRESO', 'DX RELACIONADO1', 'DX RELACIONADO2', 'TIPO DIAGNOSTICO PRINCIPAL',
       'DX PRINCIPAL EGRESO CATEGORIA', 'DX PRINCIPAL EGRESO CAPITULO',
       'CAUSA BASICA CATEGORIA',
       'CAUSA BASICA CAPITULO','DEMORA SALIDA CLINICA (DIAS)', 'YEAR', 'MES', 'BLOQUE ANTERIOR', 'PISO ANTERIOR', 'PROFESIONAL ESPECIALIDAD', 'FECHA INGRESO CLINICA'])

In [ ]:
for i in lista:
  egresospos=egresospos.drop([i], axis=1)

In [ ]:
#se ponen todas las columnas en minusculas
egresospos.columns = egresospos.columns.str.lower()

In [ ]:
df=pd.DataFrame()
df['numero_de_hospitalizaciones']= egresospos['nrodoc'].value_counts()
df['nrodoc']= egresospos['nrodoc'].value_counts().index
df=df.reset_index().drop('index', axis=1)
df

In [ ]:
egresosposf= funcion_1(egresospos)

In [ ]:
egresosposf

In [ ]:
#se une la base de datos egresosposf y el numero de hospitalizaciones
egresosposf1=pd.merge(df, egresosposf, on='nrodoc', how='left')

In [ ]:
egresosposf1

In [ ]:
#Se elimina fila extra
egresosposf1=egresosposf1.drop(['index'], axis=1)

In [ ]:
#Se arregla el tipo de datos (#aqui se cambia el tipo de dato pero no se guarda el cambio solo lo muestra)
egresosposf1.convert_dtypes().dtypes

numero_de_diagnosticos           Int64
nrodoc                           Int64
eps validada                    string
servicio admite                 string
tipo egreso                     string
dx relacionado3                 string
causa basica muerte             string
profesional especialidad grd    string
dtype: object

In [ ]:
egresosposf1.columns

Index(['numero_de_diagnosticos', 'nrodoc', 'eps validada', 'servicio admite',
       'tipo egreso', 'dx relacionado3', 'causa basica muerte',
       'profesional especialidad grd'],
      dtype='object')

In [ ]:
#Se mira que cada columna tenga sus datos escritos correctamente
listae=(['eps validada', 'servicio admite',
       'tipo egreso', 'dx relacionado3', 'causa basica muerte',
       'profesional especialidad grd'])

In [ ]:
for i in listae:
    print(i)
    print(egresosposf1[i].unique())
    ('----------------------------------------------')

In [ ]:
#base de datos final
egresosposf1=egresosposf1.copy(deep = True)

Depuración base de datos usuariospos

In [ ]:
usuariospos.columns

In [ ]:
#se mira el porcentaje de nulos
print(round(usuariospos.isnull().sum().sum()/usuariospos.size, 2)*100, "%")

3.0 %

In [ ]:
#se eliminan aquellas columnas que tengan más de 60% de sus datos nulos
lista=usuariospos.columns

In [ ]:
for i in lista:
  if (usuariospos[i].isnull().sum() / len(usuariospos))*100> 60 :
    usuariospos=usuariospos.drop([i], axis=1)

In [ ]:
usuariospos.info()

In [ ]:
# se miran los datos sin nulos que no tengan valor y se los elimina
lista=usuariospos.columns
cont=0
for i in lista:
  if usuariospos[i].isnull().sum()<=0:
    print(i)
    ("--------------------------------------")

MES
YEAR
NRODOC
SEXO
FECHA NACIMIENTO
EDAD
FECHA INICIO AL PGP
CICLO_VITAL
QUINQUENIO

In [ ]:
#se evaluan cual puede servir en el modelo o ya exista otra columna con la misma información
usuariospos['QUINQUENIO'].unique()

In [ ]:
#se elimina las columnas
usuariospos=usuariospos.drop(['MES'], axis=1)
usuariospos=usuariospos.drop(['YEAR'], axis=1)
usuariospos=usuariospos.drop(['FECHA NACIMIENTO'], axis=1)
usuariospos=usuariospos.drop(['FECHA INICIO AL PGP'], axis=1)
usuariospos=usuariospos.drop(['QUINQUENIO'], axis=1)

In [ ]:
#se miran las variables con nulos
lista= usuariospos.columns

In [ ]:
for i in lista:
  print(i)
  print(usuariospos[i].isnull().sum())
  print('------------------------------------------------')

In [ ]:
usuariospos['PRIMERA CLASE FUNCIONAL'].unique()

In [ ]:
#se miran las variables repetidas, que no tengan valor o que sus nulos no puedan ser reemplazados por algun valor logico
lista3=(['BARRIO','FECHA PRIMERA CLASE FUNCIONAL', 'FECHA ÚLTIMA CLASE FUNCIONAL', 'ÚLTIMA CLASE FUNCIONAL', 
         'PRIMERA CLASE FUNCIONAL', 'MUNICIPIO'])

In [ ]:
for i in lista3:

  usuariospos=usuariospos.drop([i], axis=1)

In [ ]:
usuariospos.head(3)

        NRODOC SEXO  EDAD DEPARTAMENTO CICLO_VITAL
101490  311028    M  69.0    ANTIOQUIA       Vejez
101491  310961    M  75.0    ANTIOQUIA       Vejez
101492  311235    F  85.0    ANTIOQUIA       Vejez

In [ ]:
#Se miran los errores en las variables que quedaron
usuariospos.columns

Index(['NRODOC', 'SEXO', 'EDAD', 'DEPARTAMENTO', 'CICLO_VITAL'], dtype='object')

In [ ]:
lista=usuariospos.columns

In [ ]:
for i in lista:
  print(i)
  print(usuariospos[i].unique())
  ('---------------------------------------')

In [ ]:
#se decide eliminar departamento debido a que solo tiene 1 dato que es Antioquia
usuariospos=usuariospos.drop(['DEPARTAMENTO'], axis=1)

In [ ]:
usuariospos.head(2)

In [ ]:
#se arregla el tipo de dato
usuariospos.convert_dtypes().dtypes

NRODOC          Int64
SEXO           string
EDAD            Int64
CICLO_VITAL    string
dtype: object

In [ ]:
#se ponene las variables en minusculas
usuariospos.columns = usuariospos.columns.str.lower()

In [ ]:
#se miran los registros repetidos
df=pd.DataFrame()
df['numero_de_usuarios']= usuariospos['nrodoc'].value_counts()
df['nrodoc']= usuariospos['nrodoc'].value_counts().index
df=df.reset_index().drop('index', axis=1)
df

In [ ]:
#se eliminan los registros repetidos
usuariosposf= funcion_1(usuariospos)

In [ ]:
#se elimina columna extra
usuariosposf=usuariosposf.drop(['index'], axis=1)

In [ ]:
usuariosposf

In [ ]:
usuariosposf1=usuariospos.copy(deep = True)

BD GENERAL

In [ ]:
#hacer que el cambio de tipo de dato se guarde en la base
#unir bases de datos sin borrar aquellos id(nrod) que no encuentre
#en la columna numero de hospitalizaciones se debe poner el dato nulo en 0 que son todos los que no entraron
#corr() se hace el corr y se miran aquellas variables que tengan relacion con la variable target(numero de hospitalizaciones) y las 20 que mas se relacionen hacer graficos
#se miran las variables de string que tengan muchos datos distintos y se las saca del modelo, luego se redimensionan aquellas que si se puedan por ejemplo sexo, etc, y finalmente vuelves a ahcer el de correlaciones y dejas 20 para luego que el modelo escoja 10 
#hacer lasso, elasticnet y red neuronal cambiando 3 veces sus hiperparametros (hay mas datos sin hospitacion que con hospitalicion, se debe jugar con los pesos)
#escoges el que de mejor en las metricas y evaluacion de desempeño